# PyCitySchools

In [23]:
import pandas as pd
from pathlib import Path

school_data_to_load = Path("/Users/sergioescobedo/Desktop/pandas-challenge/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/sergioescobedo/Desktop/pandas-challenge/Starter_Code/PyCitySchools/Resources/students_complete.csv")

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [24]:
row_count = len(pd.read_csv(school_data_to_load))
print("Number of schools:", row_count)

row_count2 = len(pd.read_csv(student_data_to_load))
print("umber of students:", row_count2)

Number of schools: 15
umber of students: 39170

In [25]:
data = pd.read_csv(school_data_to_load)
budget = data.iloc[:, 4].sum()
print("Total Budget:", budget)

Sum of column 5: 24649428

In [42]:
data2 = pd.read_csv(student_data_to_load)
average_math_score = data2.iloc[:, 6].mean()
average_reading_score = data2.iloc[:, 5].mean()

print("Average Math Score:", average_math_score)
print("Average Reading Score:", average_reading_score)

Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414

In [43]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(row_count2) * 100
passing_math_percentage

74.9808526933878

In [44]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(row_count2) * 100
passing_reading_percentage

85.80546336482001

In [45]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(row_count2) * 100
overall_passing_rate

65.17232575950983

In [47]:
district_summary = pd.DataFrame({
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
})

district_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
school_summary = pd.DataFrame({
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
})

school_summary